version: 2
updates:
  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 9 * * *"
      timezone: "Asia/Singapore"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
