name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    types: [ opened, edited, synchronize ]

jobs:
  ci-code-check:
    name: CI-Code Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.3'

      - name: Install dependencies
        run: flutter pub get

      - name: Run Flutter analyze
        run: flutter analyze --no-fatal-infos
