# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '00 00 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has not had activity for the past 30 days. It has been marked stale.'
        stale-pr-message: 'This pull request has not had activity for the past 30 days. It has been marked stale.'
        close-issue-message: 'This stale issue has not had activity for the past 7 days. It has been closed.'
        close-pr-message: 'This stale pull request has not had activity for the past 7 days. It has been closed.'
        stale-issue-label: 'stale-issue'
        stale-pr-label: 'stale-pr'
        exempt-issue-labels: 'bug, keep-open'
        exempt-pr-labels: 'wip, keep-open'
        days-before-stale: 30
        days-before-close: 7
